In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
from os import pardir, path
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
import matplotlib.pyplot as plt
from scipy import stats
import glob
import seaborn as sns


%config InlineBackend.figure_format = 'retina'
sns.set_style("white")

In [ ]:
base = '/content/drive/MyDrive/Rooge_Project/'
base

'/content/drive/MyDrive/Rooge_Project/'

In [ ]:
df = pd.read_csv(base+'merge set 2and4.csv').T
df = df.rename(columns=df.iloc[0]).iloc[1:,:]

label_df = pd.read_csv(base+'Factors set2and4 (3 groups).csv').iloc[:,:3]
label_df['Type'] = label_df['Type'].str.replace(' ','')
# label_df['Class'] = label_df['Type']+'_'+label_df['Sample type']
label_df['Class'] = label_df['Type']
label_df = label_df.set_index('Sample Name')

rawData = pd.concat([df,label_df['Class']], axis=1).fillna(0)
rawData

             hsa-let-7a-2-3p  hsa-let-7a-3p  ...  hsa-miR-99b-5p   Class
Sample Name                                  ...
027A                      22            925  ...           42490    HSIL
028A                      26           1095  ...           34820    HSIL
028B                      26           1842  ...           25178    HSIL
029A                      25           1653  ...           46504    HSIL
031A                      33           1372  ...           72931  Normal
...                      ...            ...  ...             ...     ...
DC053V                     0            287  ...             687    HSIL
DC054E                     0            183  ...             335    HSIL
DC054V                     1            130  ...             169    HSIL
DC055E                     0           1020  ...            3086    HSIL
DC055V                     2            276  ...             776    HSIL

[72 rows x 1732 columns]

In [ ]:
# rawData.loc[:,pd.read_csv('Importance features.csv')['miRNA']].T.to_csv('Machine learning miRNA.csv')

In [ ]:
# data = rawData[(rawData['Class'] != 'AIS_Discharge') & (rawData['Class'] != 'HSIL_Discharge')]

In [ ]:
data = rawData
stat = pd.DataFrame(data.groupby(['Class']).agg(['count']).iloc[:,-1])
stat.columns = ['Count']
stat['Percentage'] = round(stat['Count']/stat['Count'].sum()*100,3)
stat

        Count  Percentage
Class
AIS         8      11.111
HSIL       59      81.944
Normal      5       6.944

In [ ]:
from sklearn import preprocessing
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import label_binarize
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import metrics

from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

In [ ]:
# Normalized data
RS = preprocessing.RobustScaler()
scaled_df = pd.DataFrame(RS.fit_transform(data.iloc[:,:-1]) , columns= data.iloc[:,:-1].columns, index=data.index)
scaled_df['Target'] = data['Class']

In [ ]:
# Train and Test spliting with 0.67 and 0.33 respectively
X_train, X_test, y_train, y_test = train_test_split(scaled_df.iloc[:,:-1], scaled_df['Target'], 
                                                    test_size=0.33) # , random_state=7

Model_Name = 'RandomForestClassifier'
model=RandomForestClassifier() # step 1: choose model/estimator for classification
# model=LogisticRegression()
model.fit(X_train, y_train) # step 2: fit
y_pred=model.predict(X_test) # step 3: predict
print('Accuracy score:', model.score(X_test, y_test).round(3)) # step 4: accuracy score for classification r2 for regression
# classes=['AIS_Discharge', 'AIS_tissue','HSIL_Discharge','HSIL_tissue','Normal_tissue']
classes=list(set(data['Class']))
print(metrics.classification_report(y_test, y_pred, target_names=classes))
y_pred_prob = model.predict_proba(X_test)[::,1]

Accuracy score: 0.792
              precision    recall  f1-score   support

         AIS       0.00      0.00      0.00         4
        HSIL       0.79      1.00      0.88        19
      Normal       0.00      0.00      0.00         1

    accuracy                           0.79        24
   macro avg       0.26      0.33      0.29        24
weighted avg       0.63      0.79      0.70        24

In [ ]:
# show classification result
result = pd.concat([y_test.reset_index(),pd.DataFrame([y_pred,y_pred_prob]).T],axis=1)
result.columns = ['Patient','Class','Predicted','Predicted_Prob']
result

   Patient   Class Predicted Predicted_Prob
0   DC052V    HSIL      HSIL           0.93
1     041B    HSIL      HSIL           0.85
2   DC053C    HSIL      HSIL           0.68
3     052B    HSIL      HSIL            0.9
4     044A  Normal      HSIL           0.79
5   DC053V    HSIL      HSIL           0.81
6     038A    HSIL      HSIL           0.93
7     049C     AIS      HSIL           0.77
8     043D    HSIL      HSIL           0.69
9     046B    HSIL      HSIL           0.73
10    054C    HSIL      HSIL           0.52
11  DC054C    HSIL      HSIL           0.76
12    042A    HSIL      HSIL           0.78
13  DC049C     AIS      HSIL           0.65
14  DC051V    HSIL      HSIL           0.73
15  DC051E     AIS      HSIL           0.76
16    055C    HSIL      HSIL           0.86
17  DC054E    HSIL      HSIL            0.7
18    033A    HSIL      HSIL            0.9
19  DC048E    HSIL      HSIL           0.81
20    055B    HSIL      HSIL           0.93
21    055A    HSIL      HSIL           0.47
22  DC049E     AIS      HSIL           0.77
23  DC055E    HSIL      HSIL           0.86

![image.png](attachment:image.png)

In [ ]:
# Train Test spliting and 10 fold Cross validation

print('Performance of classification model before feature selection')
scaled_df = pd.DataFrame(RS.fit_transform(data.iloc[:,:-1]) , columns= data.iloc[:,:-1].columns, index=data.index)
scaled_df['Target'] = data['Class']

cv = StratifiedKFold(n_splits=10, random_state=123, shuffle=True)
X=scaled_df.iloc[:,:-1]
print('Number of all features ', X.shape)
y=scaled_df['Target']
scores = cross_val_score(model, X,y, scoring='accuracy',cv=cv,n_jobs=-1)
print('Accuracy: %.3f (%.3f)'% (np.mean(scores),np.std(scores)))


# Feature selection by using Random Forest
importance = model.feature_importances_
importance_score = pd.DataFrame([X.columns, importance]).T
importance_score.columns = ['miRNA','Score']
importance_score = importance_score.sort_values(by='Score', ascending=False)
miRNA1 = importance_score[importance_score['Score'] > 0]['miRNA']

print("\n",'*'*30)
print('Performance of classification model after feature selection')
cv = StratifiedKFold(n_splits=10, random_state=123, shuffle=True)
X=scaled_df.loc[:,miRNA1]
print('Number of Selected features ', X.shape)
y=scaled_df['Target']
scores = cross_val_score(model, X,y, scoring='accuracy',cv=cv,n_jobs=-1)
print('Accuracy: %.3f (%.3f)'% (np.mean(scores),np.std(scores)))

Performance of classification model before feature selection
Number of all features  (72, 1731)
Accuracy: 0.821 (0.055)

 ******************************
Performance of classification model after feature selection
Number of Selected features  (72, 379)
Accuracy: 0.821 (0.055)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(scaled_df.iloc[:,:-1], scaled_df['Target'], 
                                                    test_size=0.33)
y_pred=model.predict(X_test) # step 3: predict
print('Accuracy score:', model.score(X_test, y_test).round(3)) # step 4: accuracy score for classification r2 for regression
# classes=['AIS_Discharge', 'AIS_tissue','HSIL_Discharge','HSIL_tissue','Normal_tissue']
classes=list(set(data['Class']))
print(metrics.classification_report(y_test, y_pred, target_names=classes))
# print('-' * 100)

y_pred_prob = model.predict_proba(X_test)[::,1]

result = pd.concat([y_test.reset_index(),pd.DataFrame([y_pred,y_pred_prob]).T],axis=1)
result.columns = ['Patient','Class','Predicted','Predicted_Prob']
result

Accuracy score: 0.917
              precision    recall  f1-score   support

         AIS       1.00      0.67      0.80         3
        HSIL       0.90      1.00      0.95        19
      Normal       1.00      0.50      0.67         2

    accuracy                           0.92        24
   macro avg       0.97      0.72      0.81        24
weighted avg       0.92      0.92      0.91        24

   Patient   Class Predicted Predicted_Prob
0     040A    HSIL      HSIL           0.95
1     036A    HSIL      HSIL           0.96
2   DC049V     AIS       AIS           0.28
3     044B  Normal    Normal           0.35
4     047B    HSIL      HSIL           0.97
5   DC055E    HSIL      HSIL           0.86
6     049A     AIS       AIS           0.17
7     029A    HSIL      HSIL           0.92
8     044A  Normal      HSIL           0.79
9   DC052C    HSIL      HSIL           0.94
10    041B    HSIL      HSIL           0.85
11  DC048C    HSIL      HSIL            0.9
12  DC053C    HSIL      HSIL           0.68
13    027A    HSIL      HSIL           0.95
14    054B    HSIL      HSIL           0.91
15    048B    HSIL      HSIL           0.92
16    028A    HSIL      HSIL           0.96
17    053A    HSIL      HSIL           0.93
18  DC049C     AIS      HSIL           0.65
19  DC048V    HSIL      HSIL           0.85
20    051A    HSIL      HSIL           0.91
21    048A    HSIL      HSIL           0.86
22  DC054C    HSIL      HSIL           0.76
23    046B    HSIL      HSIL           0.73

In [ ]:
# 3 times Upsampling on AIS and Normal group
from sklearn.utils import resample
up_df = pd.DataFrame()
for c in ['AIS', 'Normal']:
    sampling = data[data['Class'] == c]
    up_sampling = resample(sampling, replace=True, n_samples=sampling.shape[0]*3, random_state=123)
    up_df = up_df.append(up_sampling)

# hsil = data[(data['Class'] == 'HSIL_Discharge') | (data['Class'] == 'HSIL_tissue')]
hsil  = data[data['Class']== 'HSIL']

new_data = hsil.append(up_df)

# Normalization
scaled_df = pd.DataFrame(RS.fit_transform(new_data.iloc[:,:-1]) , columns= new_data.iloc[:,:-1].columns, 
                         index=new_data.index)
scaled_df['Target'] = new_data['Class']
# 10 Fold Cross Validation
cv = StratifiedKFold(n_splits=10, random_state=12, shuffle=True)
X=scaled_df.iloc[:,:-1]
print('Number of all features ', X.shape)
y=scaled_df['Target']
scores = cross_val_score(model, X,y, scoring='accuracy',cv=cv,n_jobs=-1)
print('Accuracy: %.3f (%.3f)'% (np.mean(scores),np.std(scores)))

print("\n",'*'*30)
print('Performance of classification model after feature selection')
importance = model.feature_importances_
importance_score = pd.DataFrame([X.columns, importance]).T
importance_score.columns = ['miRNA','Score']
importance_score = importance_score.sort_values(by='Score', ascending=False)


miRNA2 = importance_score[importance_score['Score'] > 0]['miRNA']

cv = StratifiedKFold(n_splits=10, random_state=12, shuffle=True)
X=scaled_df.loc[:,miRNA2]
print('Number of Selected features ', X.shape)
y=scaled_df['Target']
scores = cross_val_score(model, X,y, scoring='accuracy',cv=cv,n_jobs=-1)
print('Accuracy: %.3f (%.3f)'% (np.mean(scores),np.std(scores)))

(98, 1731)
Accuracy: 0.970 (0.064)
(98, 379)
Accuracy: 0.960 (0.049)

In [ ]:
stat = pd.DataFrame(new_data.groupby(['Class']).agg(['count']).iloc[:,-1])
stat.columns = ['Count']
stat['Percentage'] = round(stat['Count']/stat['Count'].sum()*100,3)
stat

        Count  Percentage
Class
AIS        24      24.490
HSIL       59      60.204
Normal     15      15.306